body {
	font-family: 'Lato', sans-serif;
}

article section:first-child{
	margin-top: 1em;
}

.container{
	width: 1100px;
}
#header,#header-banner {
	border-bottom: none;
	box-shadow: none;
}

#header h1, #header-banner h1 {
	font-family: 'Lato', sans-serif;
	color: #4a3700;
}

#header h2, #header-banner h2 {
	color: #9D8D8D;
	font-size: 1.2em;
	letter-spacing: 2px;
	font-weight: bold;
	padding-top: 2em;
}

#content > article {
	border-top:none;
	box-shadow:none;
}
#header-banner #logo {
	margin-top: 1em;
}

#features-wrapper {
	padding-top: 0em;
	padding-bottom: 1em;
}

#footer-wrapper{
	background: #fff;
	border-top: none;
	padding-top: 3em;
}
.main-topic {
    margin: 5px 0 0px;
    height: 247px;
    display: inline-block;
    width: 100%;
}

.main-topic a:hover {
    color: rgb(202, 192, 182);
    border-bottom-color: rgba(255, 255, 255, 0);
}

.main-topic>div {
	padding: 0;
}

.main-topic div:nth-child(1) {
	text-align: left;
}

.main-topic .pregunta{
	padding-left: 1em;
}
.main-topic .pregunta h1 {
	color: #fff;
	margin-top: 2em;
	text-transform: none;
	font-size: 1.55em;
}

.main-topic .pregunta .small {
	font-size: 20px;
}

.main-topic .pregunta h2 {
	text-transform: none;
	color: #f8e27a;
	font-size: 1.3em;
	letter-spacing: normal;
	margin-top: 1em;
}

.main-topic .opciones{
	padding: 2em;
	text-align: left;
	color: #fff;
}
.main-topic .opciones i{
	margin-right: 7px;
}
.main-topic .opciones a{
	color:#f8e27a;
	font-size: 1.2em;
	border-color:#f8e27a;
}
.menina{
	height: 247px;
	background-position: center !important;
	background-size: cover !important;
}
/* Containers home*/
.container-politica {
	background: #1c6047;
}
.container-politica .opciones{
	padding: 1em 2em;
}
.container-politica .menina{
	background: url('../assets/meninas/politica.jpg');
}
.container-economia {
	background: #577b1c;
}
.container-economia .menina{
	background: url('../assets/meninas/economia.jpg');
}

.container-academia {
	background: #a99d3d;
}
.container-academia .menina{
	background: url('../assets/meninas/academia.jpg');
}

.container-academia .pregunta h2,
.container-academia .opciones a{
	color: #1c5f47;
	border-color:#1c5f47;
}

.container-justicia {
	background: #9e8a00;
}
.container-justicia .menina{
	background: url('../assets/meninas/justicia.jpg');
}

.container-medios {
	background: #a65f00;
}
.container-medios .menina{
	background: url('../assets/meninas/comunicacion.jpg');
}

.internal-menu {
	margin: 1.5em;
}

#main-wrapper h1{
	font-family: 'Lato', sans-serif;
	color: #4a3700;
	font-size: 1.8em;
}
#main-wrapper header{
	text-align:center;
}
#main-wrapper header h1{
	margin-top: 1em;
}
.subtitle{
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	padding: 1em 20%;
	margin-bottom: 2em;
}
.politica .subtitle{
	background: #1c6047;
}

.economia .subtitle{
	background: #577b1c;
}

.academia .subtitle{
	background: #a99d3d;
}

.justicia .subtitle{
	background: #9e8a00;
}

.medios .subtitle{
	background: #a65f00;
}


.visualization {
	width: 80%;
	margin: 1.5em auto !important;
}
.visualization-big {
	width: 90%;
}
.back-white{
	background-color: #fff;
}
.fuente{
	text-align: right;
	font-size: small;
}
.visualization>.tableauPlaceholder {
	
}

ul.vertical li {
	float: left;
	margin-right: 1em;
}
@media screen and (max-width: 736px){
	header > img{
		width: 100%;
	}
	#content > article{
		padding-top: 0 !important;
		margin-top: 1em !important;
		
	}
	.main-topic{
		height: initial;
	}
	.main-topic .pregunta{
		padding-left: 1em;
		padding-right: 1em;
	}
	.main-topic .opciones{
		padding: 1em;
	}
	.main-topic .opciones a{
		font-size: 0.98em;
	}
	.visualization {
		width: 95%;
	}
}