<div id="footer-wrapper">
	<div id="footer" class="container">
		<div class="row" class="container">
			<div class="6u 12u(mobile)">
				<section>
					<h2>Equipo</h2>
					<ul>
						<li><strong>Olaya Argüeso Pérez</strong>, coordinación y
							redacción</li>
						<li><strong>Nerea Novo Paleo y Laura González Carrasco</strong>, redacción</li>
						<li><strong>Teresa Pérez Gallo</strong>, diseño y visualización</li>
						<li><strong>Eva Filgueira Guimerá</strong>, producción audiovisual</li>
						<li><strong>Cristina Nualart</strong>, ilustración</li>
						<li><strong>Diego Andrés Ramírez Aragón</strong>, desarrollo
							web</li>
					</ul>
				</section>
			</div>
			<div class="6u 12u(mobile)">
				<section>
					<h2>Agradecimientos</h2>
					<p>
						Este proyecto se ha desarrollado en el marco del <a
							href="http://medialab-prado.es/article/convocatoria-explorando-desigualdad">III
							Taller de producción de periodismo de datos</a>, organizado por
						<a href="http://medialab-prado.es/">MediaLab Prado</a>
					</p>
					<div class="row">
						<div class="6u 12u(mobile)">
							<ul class="icons">
								<li class="icon fa-twitter"><a href="https://twitter.com/MPoder_Femenino">@MPoder_Femenino</a></li>
							</ul>
						</div>
						<div class="6u 12u(mobile)">&nbsp;</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div id="copyright" class="container">
		<ul class="links">
			<li>&copy; Untitled. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</div>
