<!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a class="icon fa-venus" href="index.html"><span>Introduction</span></a></li>
      <li><a class="icon fa-cog" href="politica.html"><span>Política</span></a></li>
      <li><a class="icon fa-money" href="right-sidebar.html"><span>Economía</span></a></li>
      <li><a class="icon fa-book" href="left-sidebar.html"><span>Academia</span></a></li>
      <li><a class="icon fa-sitemap" href="no-sidebar.html"><span>Justicia</span></a></li>
      <li><a class="icon fa-video-camera" href="no-sidebar.html"><span>Medios</span></a></li>
      <!--
      <li>
        <a href="#" class="icon fa-bar-chart-o"><span>Dropdown</span></a>
        <ul>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Magna phasellus</a></li>
          <li><a href="#">Etiam dolore nisl</a></li>
          <li>
            <a href="#">Phasellus consequat</a>
            <ul>
              <li><a href="#">Magna phasellus</a></li>
              <li><a href="#">Etiam dolore nisl</a></li>
              <li><a href="#">Phasellus consequat</a></li>
            </ul>
          </li>
          <li><a href="#">Veroeros feugiat</a></li>
        </ul>
      </li>
    -->
    </ul>
  </nav>
